<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatpana</title>
    <link rel="icon" href="https://chatpana.com/flashbot_verify/static/img/favicon.png" type="image/x-icon">
</head>

<body>
    <!-- Encabezado principal de la página -->
    <h1>Website del cliente externo</h1>

    <script src="https://chatpana.com/flashbot_verify/static/js/chatbot.js"
        data-api-key="e23ba3af9a9cf18abfbd5ed87e9298"></script>
</body>

</html>